*{
    background-color: rgb(217, 245, 247);
    font-family: "楷体";
    /* border: black 1px solid; */
}

table{
    margin: auto;
    font-size: 30px;
    text-align: center;
    width: 600px;
    height: 346px;
    margin-top: 7%;
    border: #c7c7c7 6px solid ;

}

td{
    height:80px;
    width: 50%;
    font-size: 150%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    background: linear-gradient(to right, rgb(182, 214, 255), rgb(123, 222, 255));
    border-radius: 15px;
    width: 800px;
    padding: 2px 90px;
}

